body {
    background-color: #ff7379;
}

#root {
    padding-top: 50px;
}

.titleHomeWork {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.tabs {
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

.tabs-nav {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}

.tabs-nav .tab {
    margin-right: 25px;
    list-style-type: none;
    transition-duration: .25s;
    display: table-cell;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 20px 25px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
}

.tabs-nav .tab:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: .25s;
    border-radius: 5px 5px 0 0;
}

.tabs-nav .tab:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}

.tabs-nav .tab.active{
    color: #50555a;
}

.tabs-nav .tab.active:before {
    transition-duration: .5s;
    background-color: #fff;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.tabs-content {
    background-color: #fff;
    padding: 15px;
}

.tabs-content p {
    margin: 0;
}