.App {
  text-align: center;
}
.start{
  display: flex;
  justify-content: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.appHeader {
  display: flex;
  justify-content: center;
  padding: 40px 10px;
  background-color: lightgoldenrodyellow;
}

.appHeader a {
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
