body{
    padding: 20px;
    font-family: sans-serif;
}

header{
    padding: 20px;
    background: #eee;
}

.App{
    width: 65%;
    background: #fff;
    margin: 0 auto;
}

.header-inner-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.searchInput{
    width: 100%;
    height: 50px;
    background: #cecece;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 20px;
    font-size: 20px;
}

.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    margin-top: 5px;
    background: #ffff25;
}

.searchBtn i {
    font-size: 36px;
}

.myList{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.myList_Item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 8px 20px;
    margin-bottom: 5px;
}

.myList_Item:hover{
    background: #efefef;
}

.myList_Item.arrived{
    text-decoration: line-through;
    color: red;
    background: #f1ffdf;
}

.myList_Item p {
    margin-top: 0;
    margin-bottom: 0;
}

.myList_Item .arrivedBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myList_Item .arrivedBtn{
    background: #98ca57;
    font-weight: 700;
    font-size: 16px;
    height: 8vh;
    width: 12vw;
}

.myInput{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 20px;
}

.notFound{
    box-sizing: border-box;
    padding: 8px 20px;
    background: #d60d0d94;
}
